
.roomtitle {
    background-color: #F58B00;
    height: 8.8vh;
    width:63vw
}

.Calendartitle {
    background-color: #F58B00;
    height: 8.8vh;
    width:17vw;
}

#title {
    font-size: 5.9vh ;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color:white;
}

#Calendar_icon {
    height: 75%;
    margin-top: auto;
    margin-bottom: auto;
}

.chatroom {
  height: 91.2vh;
  width: 60vw;
}

.chat-list {
  /*border:0.05rem solid lightgray;
  border-radius: 0.5rem;*/
  height: 90%;
  overflow-x:hidden;
  overflow-y:auto;
  word-wrap:break-word;
}

/* Scrollbar styles */
::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
border: 1px solid lightgray;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background: lightgray;
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: lightgray;
}
