.group-members {
  background-color: lightblue;
  color: white!important;
  padding: 0.5rem;
  border: 0.2rem solid white;
  border-radius: 0.5rem;
}

.group-members:hover {
  background-color: rgb(47, 133, 235);
}

.group-member {
  background-color: rgb(245, 174, 116);
  color: white!important;
  padding: 0.5rem;
  border: 0.2rem solid white;
  border-radius: 0.5rem;
}

.group-member:hover {
   background-color: rgb(242, 192, 12);
   cursor: pointer;
}
.chat-list {
  border:0.05rem solid lightgray;
  border-radius: 0.5rem;
  height:28rem!important;
  overflow-x:hidden;
  overflow-y:auto;
  word-wrap:break-word;
}

/* Scrollbar styles */
::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
border: 1px solid lightgray;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background: lightgray;
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: lightgray;
}
